<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>View Family</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/graduateicon.ico">
    <!-- slick css -->
    <link href="assets/libs/slick-slider/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/slick-slider/slick/slick-theme.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="assets/libs/jqvmap/jqvmap.min.css" rel="stylesheet" />
    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        
        #myImg {
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
        }
        
        #myImg:hover {opacity: 0.7;}
        
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }
        
        /* Modal Content (image) */
        .modal-content {
          margin: auto;
          display: block;
          width: 80%;
          max-width: 700px;
        }
        
        /* Caption of Modal Image */
        #caption {
          margin: auto;
          display: block;
          width: 80%;
          max-width: 700px;
          text-align: center;
          color: #ccc;
          padding: 10px 0;
          height: 150px;
        }
        
        /* Add Animation */
        .modal-content, #caption {  
          -webkit-animation-name: zoom;
          -webkit-animation-duration: 0.6s;
          animation-name: zoom;
          animation-duration: 0.6s;
        }
        
        @-webkit-keyframes zoom {
          from {-webkit-transform:scale(0)} 
          to {-webkit-transform:scale(1)}
        }
        
        @keyframes zoom {
          from {transform:scale(0)} 
          to {transform:scale(1)}
        }
        
        /* The Close Button */
        .close {
          position: absolute;
          top: 15px;
          right: 35px;
          color: #f1f1f1;
          font-size: 40px;
          font-weight: bold;
          transition: 0.3s;
        }
        
        .close:hover,
        .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
        }
        
        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
          .modal-content {
            width: 100%;
          }
        }
        </style>
</head>

<body data-sidebar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="assets/images/logo-sm-dark.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="assets/images/logo-dark.png" alt="" height="20">
                            </span>
                        </a>
                        <a href="" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="assets/images/logo-sm-light.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="images/GSPBS.png" alt="" height="33">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="mdi mdi-backburger"></i>
                    </button>
                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block d-lg-none ml-2">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-magnify"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                            aria-labelledby="page-header-search-dropdown">

                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ..."
                                            aria-label="Recipient's username">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="dropdown d-none d-lg-inline-block ml-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="mdi mdi-fullscreen"></i>
                        </button>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b><span style="color: olivedrab; text-decoration: underline;"
                                    class="d-none d-sm-inline-block ml-1">
                                    <%= session.Surname %>
                                        <%= session.FirstName %>
                                </span></b>
                            <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a class="dropdown-item" href="/profile"><i
                                    class="mdi mdi-face-profile font-size-16 align-middle mr-1"></i> Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i
                                    class="mdi mdi-logout font-size-16 align-middle mr-1"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <!-- <li class="menu-title">Menu</li> -->
                        <li class="menu-title">Menu</li>

                        <li>
                            <a href="/dashboard" class="waves-effect">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span>Admin Panel</span>
                            </a>
                        </li>

                        <li>
                            <a href="" class="waves-effect">
                                <i class="mdi mdi-calendar-month"></i>
                                <% if(user_requests_count != 0) { %>
                                    <span class="badge badge-pill badge-success float-right">
                                        <%= user_requests_count %>
                                    </span>
                                    <% } %>
                                <span>Requests</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-account-group"></i>
                                <span>Manage Families</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/view-family">View Family</a></li>
                                <li><a href="/add-family">Add Family Head</a></li>
                                <li><a href="/add-family-member">Add Family Member</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-google-pages"></i>
                                <span>Manage Events</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="">View Events</a></li>
                                <li><a href="">Add Events</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="" class="waves-effect">
                                <i class="mdi mdi-file-document-box-check-outline"></i>
                                <span>Login Reports</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">View User Requests</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">GSPBS</a></li>
                                        </li>
                                        <li class="breadcrumb-item active">View Requests</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <% if(message.length> 0) { %>
                        <div class="alert alert-success">
                            <%= message %>
                        </div>
                        <% } %>

                            <% if(messageRed.length> 0) { %>
                                <div class="alert alert-danger">
                                    <%= messageRed %>
                                </div>
                                <% } %>

                                    <!-- Family Head Modal Start -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <!-- <button type="button" class="close" data-dismiss="modal">×</button>   -->
                                                    <h4 class="modal-title">Edit Family Head</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- <p>This is a large modal.</p>   -->
                                                    <form class="custom-validation" action="/update_family_head"
                                                        method="POST">
                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">Family
                                                                Id</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="familyId"
                                                                    name="familyId" readonly>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">Surname</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="Surname"
                                                                    name="Surname">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">MiddleName</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="MiddleName"
                                                                    name="MiddleName">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">FirstName</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="FirstName"
                                                                    name="FirstName">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">Gender</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="Gender"
                                                                    name="Gender">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">Gotra</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="Gotra"
                                                                    name="Gotra">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">Email</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="Email"
                                                                    name="Email">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">Mobile</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="Mobile"
                                                                    name="Mobile">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">Native</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="Native"
                                                                    name="Native">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="example-text-input"
                                                                class="col-md-2 col-form-label">Aadhar</label>
                                                            <div class="col-md-10">
                                                                <input class="form-control" type="text" id="Aadhar"
                                                                    name="Aadhar">
                                                            </div>
                                                        </div>

                                                        <div class="form-group mb-0">
                                                            <div>
                                                                <input type="submit" value="UPDATE"
                                                                    class="btn btn-primary waves-effect waves-light mr-1" />
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal End -->

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">

                                                    <h4 class="header-title">View All Requests</h4>
                                                    <p class="card-title-desc">Description</p>

                                                    <% if(action=='add' ) { %>

                                                        <% } else { %>

                                                            <div>
                                                                <div>
                                                                    <table class="table table-striped">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Name</th>
                                                                                <th>Gender</th>
                                                                                <th>Gotra</th>
                                                                                <th>Email</th>
                                                                                <th>Mobile</th>
                                                                                <th>Native</th>
                                                                                <th>Aadhar</th>
                                                                                <th>Status</th>
                                                                                <th>Actions</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <% if(queriedData.length> 0)
                                                                            {
                                                                            queriedData.forEach(function(data){
                                                                            %>
                                                                            <tr>
                                                                                <td>
                                                                                    <%= data.Surname %>
                                                                                        <%= data.MiddleName %>
                                                                                            <%= data.FirstName %>
                                                                                </td>
                                                                                <td class="nr2" hidden>
                                                                                    <%= data.Surname %>
                                                                                </td>
                                                                                <td class="nr3" hidden>
                                                                                    <%= data.MiddleName %>
                                                                                </td>
                                                                                <td class="nr4" hidden>
                                                                                    <%= data.FirstName %>
                                                                                </td>
                                                                                <td class="nr5">
                                                                                    <%= data.Gender %>
                                                                                </td>
                                                                                <td class="nr6">
                                                                                    <%= data.Gotra %>
                                                                                </td>
                                                                                <td class="nr7">
                                                                                    <%= data.EmailID %>
                                                                                </td>
                                                                                <td class="nr8">
                                                                                    <%= data.Mobile %>
                                                                                </td>
                                                                                <td class="nr9">
                                                                                    <%= data.Native %>
                                                                                </td>
                                                                                <td class="nr9">
                                                                                    <img id="myImg" src="<%= data.ImageUrl %>" alt="event_image" style="width:100px;max-width:100px">
                                                                                </td>
                                                                                <td>
                                                                                    <% if(data.req_status == 0)
                                                                                        { %>
                                                                                            <span class="badge badge-warning">Pending</span>
                                                                                    <%  } %>
                                                                                    
                                                                                    <% if(data.req_status == 1)
                                                                                        { %>
                                                                                            <span class="badge badge-success">Approved</span>
                                                                                    <%  } %>

                                                                                    <% if(data.req_status == 2)
                                                                                        { %>
                                                                                            <span class="badge badge-danger">Rejected</span>
                                                                                    <%  } %>
                                                                                </td>
                                                                                <td>
                                                                                    <span class="use-address">
                                                                                        <img src="images/approve.png"
                                                                                            data-toggle="modal"
                                                                                            data-target="#exampleModal" />
                                                                                    </span>
                                                                                    &nbsp;&nbsp;
                                                                                    <a
                                                                                        href="/delete_request/<%= data.RequestID %>">
                                                                                        <span>
                                                                                            <img
                                                                                                src="images/cross.png" />
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <% }); } else { %>
                                                                                <tr>
                                                                                    <td colspan="5">No Data Found</td>
                                                                                </tr>
                                                                                <% } %>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                            <% } %>
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <!-- <div class="rightbar-overlay"></div> -->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <script>
        $(".use-address").click(function () {
            var $row = $(this).closest("tr"); // Find the row
            var $familyId = $row.find(".nr1").text(); // Find the id
            var $Surname = $row.find(".nr2").text();
            var $MiddleName = $row.find(".nr3").text();
            var $FirstName = $row.find(".nr4").text();
            var $Gender = $row.find(".nr5").text();
            var $Gotra = $row.find(".nr6").text();
            var $Email = $row.find(".nr7").text();
            var $Mobile = $row.find(".nr8").text();
            var $Native = $row.find(".nr9").text();
            var $Aadhar = $row.find(".nr10").text();

            $("#familyId").val($familyId);
            $("#Surname").val($Surname);
            $("#MiddleName").val($MiddleName);
            $("#FirstName").val($FirstName);
            $("#Gender").val($Gender);
            $("#Gotra").val($Gotra);
            $("#Email").val($Email);
            $("#Mobile").val($Mobile);
            $("#Native").val($Native);
            $("#Aadhar").val($Aadhar);

            // Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
        });
    </script>
    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>

    <!-- apexcharts -->
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="assets/libs/slick-slider/slick/slick.min.js"></script>

    <!-- Jq vector map -->
    <script src="assets/libs/jqvmap/jquery.vmap.min.js"></script>
    <script src="assets/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

    <script src="assets/js/pages/dashboard.init.js"></script>

    <script src="assets/js/app.js"></script>

</body>

</html>